* {
    margin: 0;
    padding: 0;
    border: border-box;
}

body {
    background: #83267d;
    padding: 0 0.1vh;
    min-height: 100vh;
    overflow-x: hidden;   

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



/******INÍCIOD DA HEADER********/

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f97bc3;
    color: white;
    width: 100%;
    height: 436px;
}

.div-header {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 750px;
    height: 150px;
}

header h1 {
    font-family: 'Staatliches', cursive;
    font-size: 48px;
    font-weight: 400;
}

header p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 417px;
}

/******FIM DA HEADER********/

/******INÍCIOD DA FORM********/

form {
    width: 750px;    
    background: #FFFFFF;
    margin-top: -114px;
    border-radius: 20px 20px 20px 20px;
   
}

fieldset {
    border: none;
}

.div-fieldset-pessoais {
    width: 622px;
    padding: 64px 64px 33px 64px;
    display: flex;
    flex-direction: column;    
}

fieldset legend {
    font-size: 24px;
    line-height: 34px;
    color: #ce0b97;
    font-weight: 400;
    font-family: 'Staatliches', cursive;
    border-bottom: 1px solid #11119c;
    padding-bottom: 16px;
}

.container-fieldset-1 {
    display: flex;
    gap: 20px;          
}

.container-fieldset-1 div {
    display: flex;
    flex-direction: column;  
    width: 100%;       
}



.container-fieldset-1 div input {   
    padding: 0 20px;
    display: flex;
    flex-direction: column; 
       
     
}

input:invalid {
    border: 2px solid red;
}

input {
    height: 56px;
    border-radius: 8px;
    margin-top: 8px;
    background: #f6d0e7;
    border: none;
    outline-offset: 10px;
    padding: 0 20px;    
}

label {
    font-family: 'Poppins', sans-serif;
    margin-top: 48px;
    color: rgb(238, 17, 135);
    font-size: 15px;
}

label span {
    color:  #C1BCCC;
}


.div-fieldset-mentor {
    
    width: 622px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.div-fieldset-horarios {
    width: 622px;
    display: flex;
    flex-direction: column;    
}

h2 {    
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    line-height: 34px;
    font-weight: 400;
    color: #ce0b97;
}


form fieldset:nth-child(3) {
    width: 622px;
    display: flex;
    flex-direction: column;

    margin: auto;
    padding-top: 32px;
    margin-top:  32px;
}

.container-fieldset-3 {
    margin:0;
    display: flex;
    gap: 2px;
}

#date {
    Width: 300px;
}

#time-1 {
    margin-right: 10px;    
}

#date {
    margin-right: 32px;
}



/******FIM DA FORM********/

/******INÍCIOD FOOTER********/

footer {
    background: #f97bc3;
    width: 750px;
    height: 160px;
    border-radius: 0px 0px 20px 20px;
}

footer .btn {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
   
    margin: 52px 71px;
    padding: 15px 40px;
    width: 608px;
    background: #FF5374;
    border-radius: 20px;
    border: none;
}

footer .btn:hover {
    background: #f00742;

}